<div id="cabeca">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <h1 id="titulo" >BUSCAR LETRAS</h1>
  <img id="imagem_topo" src="/assets/projeto_letras/01.png" alt="logo">

  <div id="busca_artista">
    <label>Artista</label>
    <input [value]="artist" name="artist" [(ngModel)]="artist">
  </div>

  <div id="busca_musicas">
    <label>Musicas</label>
    <input [value]="music" name="music" [(ngModel)]="music">
  </div>

  <div id="buscar">
    <button pButton pRipple type="button" (click)="findLyrics()">BUSCAR</button>
  </div>
</div>

<body>

  <div id="corpo">


  <h1>{{artistMusic}}  {{titleMusic}}</h1>

  <div *ngIf="img" class="artist">
    <img id="img" [src]="img">
    <p><a [href]="link">Cifra</a> &nbsp; <a [href]="musicPlayer">Musica</a></p>
  </div>

    <pre id="texto_original">{{lyricMusic}}</pre>
    <pre id="texto_traduzido">{{translateMusic}}</pre>

  <div *ngIf="musicPlayer" class="reproduzir">
    <iframe width="426" height="240" [src]="musicPlayer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <audio [src]="musicPlayer" autoplay controls loop></audio>
  </div>

</div>

</body>
