

#cabeca {
  display: grid;
  justify-content: space-around;
  background-color: rgb(141, 133, 133);
}


#imagem_topo {
  height: 189px;
  width: 280px;
  min-width:100px;
  max-width: 380px;
  position: absolute;
}

#busca_artista {
  display: inline-grid;
  text-align: center;
}

#busca_musicas {
  display: inline-grid;
  text-align: center;
}

#texto_original {
  width:100px;
  min-width:290px;
  max-width: 500px;
  float:left;
  margin-right: auto;
  background-color: aqua;
}

#texto_traduzido {
  width:100px;
  min-width:290px;
  max-width: 500px;
  float:right;
  background-color: blue;
}

.corpo {
  background-color: yellow;
}

#img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: 2px solid black;
  left: 500px;
}
